nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Appliquer le style aux sections */
section {
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
}
section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
section p {
    font-size: 18px;
    min-height: 100vh;
}
